{% extends "home.html" %}
{% block title %} {{tableData['tableName']}} Data {% endblock %}
{% block user %} Logged in as {{userName}} {% endblock %}
{% block content %}
<table>
    <tr>
        {% for title in tableData['columnNames'] %}
        <th>{{title}}</th>
        {% endfor %}
    </tr>
    {% for row in tableData['tableRows'] %}
    <tr>
        {% for cell in row %}
        <td>{{cell}}</td>
        {% endfor %}
        <td>
            <a href="/delete/{{tableData['realName']}}/{{tableData['realID']}}/{{row[0]}}/{{row[1]}}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}