{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block user %} Logged in as {{userName}} {% endblock %}
{% block logbutton %} Log Out {% endblock %}
{% block bodyClass %} {% if clearance %} class="clearance-background" {% endif %} {% endblock %}
{% block content %}
    <h2 class="page-header">{{message}}</h2>
    <div>
        <a href="/data/animal-data">See patient list</a>
        <a href="/data/doctor-data">See staff list</a>
        <a href="/data/malady-data">See malady list</a>
        <a href="/search">Search database</a>
        {% if clearance %}
            <a href="/data/hero-data">See heroes list</a>
        {% endif %}
    </div>
    <div>
        <a href="/new/animal">Add Patient to Records</a>
        <a href="/new/doctor">Add Doctor to Records</a>
        <a href="/new/malady">Add a Malady to Records</a>
        {% if clearance %}
            <a href="/new/power">Add a Quantum Power to Records</a>
        {% endif %}
    </div>
{% endblock %}